<div class="form_card">
  <%= form_with model: @event, url: url do |f| %>
  <%= render 'shared/error', object: f.object %>
    <div class="field">
      <div class="form_wrap">

        <%= f.text_field :title, class: 'entry_field' %>
        <%= f.label :title %>
      <span class='focus_line'></span>
      </div>
    </div>

    <div class="date_field">
      <%= f.label :date, "日付", id: 'date' %>
      <%= f.date_select :date, class: 'required', default: @the_day %>
      <div class="error_message"></div>

    </div>

    <div class="file_field">
    
      <% unless @event.images.empty? %>
        <div class="swiper-container-for-form">
          <div class="swiper-wrapper">
            <% @event.images.each_with_index do |image, index| %>
            <div class=<%= "swiper-slide image_#{index}" %>>
              <%= image_tag image.name.url %>
              <div class="btn_wrapper">
              <%= link_to  "削除", event_destroy_image_path(@event, image_id: image.id),method: :delete, 
              data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn_delete_event' %>
              </div>
            </div>
              
            <% end %>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      <% end %>
      <%= f.label :images, "画像" %>
      <%=f.fields_for :images, @event.images.build do |i| %>
        <%= i.file_field :name, multiple: true, class: 'target', name: "images[name][]" %>
      <%end%>
      
    </div>

    <div class="textarea_field">
      <%= f.label :detail, "詳細" %>
      <%= f.text_area :detail %>
    </div>


    
    <%= f.submit text, class: 'btn' %>
  <% end %>
</div>