<div class="form_card">
  <%= form_with model: @event, url: url do |f| %>
  <%= render 'shared/error', object: f.object %>
    <div class="field">
      <div class="form_wrap">

        <%= f.text_field :title, class: 'entry_field' %>
        <%= f.label :title %>
      <span class='focus_line'></span>
      </div>
    </div>

    <div class="date_field">
      <%= f.label :date, "日付", id: 'date' %>
      <%= f.date_select :date, class: 'required', default: @the_day %>
      <div class="error_message"></div>

    </div>

    <div class="textarea_field">
      <%= f.label :detail, "詳細" %>
      <%= f.text_area :detail %>
    </div>


    
    <%= f.submit text, class: 'btn' %>
  <% end %>
</div>