<% if user_signed_in? %>
  <% if current_user.member %>
    <% if @tag.present? %>
      <h2><span class='tag_icon'><%= @tag.name %></span><%= @title %> <%=@tag.posts.size%>件</h2>
    <% else %>
      <h2>全ての投稿</h2>
    <% end %>
    <% @posts.each do |post| %>
      <div class="article-wrap">
        <div class="article">
          <div class="body-box">
            <div class="article-body">
              <div class="inner">
                <h2 class="article-title"><%=link_to post.title, member_post_path(post) %></h2>
                <p><%= post.content %></p>
              </div>
              <div class="publish-time-wrap">
                <div class="article-text"><%= icon('fas', 'clock') %> <%= simple_time(post[:created_at]) %></div>
                <div class="article-text"><%= icon('fas', 'user') %> <%= post.user.name %></div>
                <div class="tag_wrap">
                  <%= icon('fas', 'tag') %>
                  <% post.tags.each do |tag| %>
                    <span class='tag_badge'><%= link_to tag.name, member_root_path(tag: tag.id) %></span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%end%>
    <%= paginate @posts %>
  <% else %>
    <div class="container">
      <h2>認証されるまでお待ちください</h2>
    </div>
  <% end %>
  
<% else %>
  <div class="container">
    <h2>これはゼミ生限定の情報共有サービスです</h2>
    <%= link_to  "新規登録", new_user_registration_path, class: 'new_regist_btn btn_item'%>
  </div>
<% end %>
