<% if user_signed_in? %>
  <% if current_user.member %>
    <% if @tag.present? %>
      <div class="heading">
        <h2><span class='tag_icon'><%= @tag.name %></span><%= @title %> <%=@tag.posts.size%>件</h2>
      </div>
    <% else %>
      <div class="heading">
        <h2>全ての投稿</h2>
      </div>
    <% end %>
    <%= render 'shared/posts', posts: @posts %>
    <%= paginate @posts %>
  <% else %>
    <div class="container">
      <h2>認証されるまでお待ちください</h2>
    </div>
  <% end %>
  
<% else %>
  <div class="container">
    <h2>これはゼミ生限定の情報共有サービスです</h2>
    <%= link_to  "新規登録", new_user_registration_path, class: 'new_regist_btn btn_item'%>
  </div>
<% end %>
