<% posts.each do |post| %>
  <div class="article-wrap">
    <div class="article">
      <div class="body-box">
        <div class="article-body">
          <div class="inner">
            <div class='<%="bookmark_btn_#{post.id}"%> bookmark'> 
              <% if post.liked_by?(current_user) %>
                <%= render 'bookmarks/unbookmark', bookmark: current_user.bookmarkings.find_by(post_id: post.id) %>
              <% else %>
                <%= render 'bookmarks/bookmark', post: post %>
              <% end %>
            </div>
            <h2 class="article-title"><%=link_to post.title, member_post_path(post) %></h2>
            <p><%= post.content %></p>
          </div>
          <div class="publish-time-wrap">
            <div class="article-text"><%= icon('fas', 'clock') %> <%= simple_time(post[:created_at]) %></div>
            <div class="article-text"><%= icon('fas', 'user') %> <%= post.user.name %></div>
            <div class="tag_wrap">
              <%= icon('fas', 'tag') %>
              <% post.tags.each do |tag| %>
                <span class='tag_badge'><%= link_to tag.name, member_root_path(tag: tag.id) %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end%>
<%= render 'shared/bookmark_message' %>